body { 
    display: flex;
    justify-content: center;
    align-items: center;
}
* { 
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 1;
    color: white;
}

#welcome-main-head { 
    margin-top: 10vh;
}