ul { 
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: mediumspringgreen;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    z-index: 2;
}
a, li { 
    color: white;
    font-size: 4mm;
    text-decoration: none;
    list-style: none;
    margin-right: 2vw;
}

.segment {
    width: 33vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-style: solid;
    border-width: thin;
}
#nav-pic { 
    width: 10vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    
}
